<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.code.bootapp.gallery.dto.Gallery$Request" alias="galleryRequest"/>
        <typeAlias type="com.code.bootapp.gallery.dto.Gallery$Response" alias="response"/>
    </typeAliases>

</configuration>