<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- 공통으로 사용할 css 또는 js를 링크하려는 목적의 페이지 -->
<th:block th:fragment="config">
    <link rel="stylesheet" href="/webjars/bootstrap/4.6.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/font-awesome/6.5.2/css/all.css">
    <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.6.2/js/bootstrap.js"></script>

    <!-- 각각의 content에서 사용하는 css를 적용할 영역 -->
    <th:block layout:fragment="css"></th:block>
</th:block>

</html>